---
name: test-actions
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: int128/aqua-action@v1
        with:
          version: v0.7.6 # renovate: depName=suzuki-shunsuke/aqua
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          command: git ls-files | grep -E "\.sh$" | xargs shfmt -l -s -w
          commit_message: "style: shfmt"
